:root {
	--brown: #9c5e0e;
	--brown-dark: #7e4b08;
	--brown-light2: #fdc47a;
	--brown-light: #FFECD3;
	--green: #168200;
	--red: #b51212;
	--white: #FFFFFF;
	--black: #342819;
	--gray: #D9D9D9;
	--box-shadow: 1px 2px 8.7px rgba(0, 0, 0, 0.163);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--black);
	font-style: normal;
	position: relative;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: var(--black);
}

li {
	list-style: none;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 32px 12px;
	gap: 32px;
	max-width: 1400px;
	margin: auto;
	width: 100%;
	min-height: 100vh;
}

h1 {
	font-family: "Roboto Slab", serif;
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;
	padding: 60px 25px;
	color: var(--brown);
	background-color: var(--brown-light);
}

h2 {
	font-family: "Roboto Slab", serif;
	font-weight: 800;
	color: var(--brown);
}

h3 {
	font-family: "Roboto Slab", serif;
	font-weight: 600;
	color: var(--brown);
}

main>.containerButton {
	position: sticky;
	top: 16px;
	width: 100%;
}

@media (min-width: 1024px) {
	main {
		flex-direction: row;
		padding: 32px;
	}
}