nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1400px;
    margin: auto;
}

nav > img {
    width: 90px;
    height: auto;
}

.contact-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--brown-light);
    padding: 16px 24px; 
    border-radius: 24px;
}

@media ( min-width: 1024px) {
	nav {
		padding: 16px 32px;
	}
}