nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 91px;
    transition: all 0.5s ease;
}

.fixed-nav {
    position: fixed;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    height: 70px;
}

nav .logo{
    width: 60px;
    height: auto;
    cursor: pointer;
}

.contact-nav {
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--brown-light);
    padding: 12px 18px; 
    border-radius: 24px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    height: auto;
}

.menu img {
    width: 24px;
    height: auto;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (min-width: 640px) {
    .menu img {
        width: 32px !important;
        height: auto;
    }

    nav .logo{
        width: 90px;
        height: auto;
    }
}

@media ( min-width: 1024px) {
	nav {
		padding: 16px 32px;
        z-index: 10  ;
	}
    .menu {
        display: none;
    }
}