header {
    position: relative;
    width: 100%;
}

header * {
    position: relative;
    z-index: 1;
}

h1 {
    font-family: "Seymour One", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 25px;
    color: var(--brown);
    background-color: var(--brown-light);
}