:popover-open {
    position: fixed;
    max-width: 80%;
    max-height: 80vh;
    padding: 16px;
    border: none;
    border-radius: 24px;
    box-shadow: var(--box-shadow);
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 999;
    overflow-y: auto;
    overscroll-behavior: contain;
}

::backdrop {
    backdrop-filter: blur(3px);
}

.headerPopover img {
    width: 30px;
    height: auto;
    border-radius: 12px;
}

.headerPopover {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.headerPopover h3 {
    font-size: 16px;
}

.headerPopover button {
    background: var(--brown-light);
    border: none;
    cursor: pointer;
    color: var(--color-text);
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 12px;
}

.headerPopover div {
    flex: 1;
    display: flex;
    justify-content: end;
}

.contentPopover {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.containerAdvices {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: var(--box-shadow);
    padding: 12px;
    border-radius: 12px;
}

.containerAdvices img {
    width: 20px;
    height: auto;
}

.success {
    background: rgb(213, 235, 213);
    color: rgb(31, 72, 31);
    width: fit-content;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 12px;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    display: none;
}

.success.show {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}


#popoverForm .headerPopover {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--brown-light2); ;
}
#popoverForm form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
    max-width: 100%;
}

#popoverForm label {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#popoverForm label input,
#popoverForm label textarea {
    padding: 8px;
    border-radius: 12px;
    border: 1px solid var(--brown-light2);
    background: var(--white);
    color: var(--black);

}

#popoverForm label input:focus,
#popoverForm label textarea:focus {
    border: 1px solid var(--brown);
    outline: 1px solid var(--brown);
}

#popoverForm .envoieMessage {
    padding: 14px 22px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--brown);
    border: 1px solid var(--brown);
    color: var(--white);
    transition: all 0.3s ease;

    &&:hover {
        border: 1px solid var(--brown-dark);
        background-color: var(--brown-dark);
    }
}

.errorMessage {
    color: var(--red);
    font-size: 14px;
}