.filtres {
    border-radius: 4px;
    box-shadow: 0px 0px 4px gray;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.097);
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}

.menu-container {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    width: 70%;
    height: 100vh;
    overflow: auto;
}

.btn-fermer {
    align-self: flex-end;
    background-color: white;
    color: var(--dark);
    cursor: pointer;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    width: 100%;
    background-color: var(--brown-light);
    margin-bottom: 16px;
    transition: all 0.3s;
    border-radius: 12px;

    &&:hover {
        background-color: var(--brown-light2);
    }
}

.containerButton {
    container-type: scroll-state;
    position: sticky;
    top: 32px;
    width: 100%;

    >.menu {
        @container scroll-state(stuck: top) {
            width: fit-content;
            box-shadow: var(--box-shadow);
        }
    }
}

.menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 12px;
    font-size: 16px;
    background-color: var(--white);
    border: 1px solid var(--brown);
    color: var(--brown);
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 600;



    &&:hover {
        background-color: var(--brown-light);
    }
}

.fixed {
    position: fixed;
    top: 16px;
    left: 0;
    right: 0;
    margin: 0 12px;
    z-index: 1;
    width: fit-content;
    box-shadow: var(--box-shadow);
}

.show {
    display: block;
}

.conteneur-filtres {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 32px;
    margin-bottom: 32px;
    border-bottom: var(--brown-light2) 1px solid;
}

.containerData {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filtres-radio {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.filtres-radio input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid var(--brown);
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

.filtres-radio input:checked {
    border: 4px solid var(--brown);
}

.filtres-range {
    display: flex;
    gap: 16px;
}

.range {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.range input {
    flex: 1;
}

.prixAffichee {
    text-align: center;
    background-color: var(--brown-light);
    padding: 12px;
    width: 50px;
    outline: none;
    border: none;
    border-radius: 50%;
}

.btn-maj {
    margin-top: 24px;
    background-color: var(--brown);
    color: var(--white);
    padding: 16px 24px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;

    &&:hover {
        background-color: var(--brown-dark);
    }
}

.separator {
    height: 10px;
    width: 10px;
    background-color: red;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--brown-light2);
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: var(--brown);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--brown-light2);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--brown-light2);
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: var(--brown);
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: var(--brown-light2);
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: var(--brown-light2);
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: var(--brown);
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--brown-light2);
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--brown-light2);
}

.valeurs-range {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: gray;
    margin-top: 4px;
    margin-left: 4px;
}

@media (min-width: 640px) {
    .menu-container {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .filtres {
        display: flex;
        position: sticky;
        border-radius: 24px;
        width: 300px;
        height: fit-content;
        top: 32px;
    }

    .containerButton {
        display: none;
    }

    .btn-fermer {
        display: none;
    }

    .menu-container {
        border-radius: 24px;
        width: 100%;
        height: fit-content;
        box-shadow: none;
    }

    #placeholder {
        display: none;
    }
}