header {
    position: relative;
    display: flex;
    padding:  0 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--brown);
    text-align: center;
    color: white;
    height: 400px;
    background-image: url('../images/garage.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffc57865;
    z-index: 0;
}

header * {
    position: relative;
    z-index: 1;
}

h1 {
    font-family: "Seymour One", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 50px;
    color: var(--brown);
    background-color: var(--white);
}