.fiches h2 {
    font-size: 18px;
    font-weight: 500;
}

.fiches {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 12px;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.fiches .article-produit  {
    box-shadow: var(--box-shadow);
    border-radius: 24px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.resume > div {
    flex: 1;
    box-shadow: var(--box-shadow);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.resume ul {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
   justify-content: space-around;
}

.resume ul li {
    display: flex;
    align-items: center;
    gap: 8px;
}

.resume ul li::before {
    content: "";
    background-color: var(--brown-light2);
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
}

.resume h2 {
    background-color: var(--brown-light);
    padding: 24px 12px;
    border-radius: 24px 24px 0 0; 
    font-family: "Seymour One", sans-serif;
    font-size: 18px;
}

.fiches article > img {
	width: 100%;
    border-radius: 12px;
}
.containerStar {
    display: flex;
    align-items: center;
    gap: 2px;
}
.star {
    width: 18px;
    height: 18px;
}

.nbreAvis {
    font-size: 12px;
    flex: 1;
    text-align: end;
}

.fiches .categorie {
    background-color: var(--brown-light);
    width: fit-content;
    padding: 2px 6px;
    border-radius: 4px;
}
.containerIsStockCategorie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
}

.description {
    flex: 1;
}

.containerIsStockCategorie p{
    font-size: 12px;
}
.containerPrix {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.containerPrix p {
    font-size: 24px;
    font-weight: 600;
}
.containerPrix span {
    font-size: 24px;
    font-weight: 600;
    color: var(--brown-light2);
}


@media ( min-width: 640px) {
	.fiches {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media ( min-width: 1024px) {
	.fiches {
		gap: 24px;
	}
    .resume {
        gap: 24px;
    }
}
