@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Seymour+One&display=swap');

:root {
	--brown : #9c5e0e;
	--brown-dark: #7e4b08;
	--brown-light2 : #fdc47a;
	--brown-light : #FFECD3;
	--green:#168200;
	--red:#b51212;
	--white:#FFFFFF;
	--black:#342819;
	--gray:#D9D9D9;
	--box-shadow: 1px 2px 8.7px rgba(0, 0, 0, 0.163);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--black);
	font-style: normal;
}

a {
	text-decoration: none;
	color: var(--black);
}

li {
	list-style: none;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 32px 12px;
	gap: 32px;
}

@media ( min-width: 1024px) {
	main {
		flex-direction: row;
		padding: 32px;
	}
}



