name: CICD
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        run: docker login -u ${{secrets.DOCKERHUB_USERNAME}} -p ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Bild docker image
        run: docker build -t ${{secrets.DOCKERHUB_USERNAME}}/les_bonnes_pieces-server .
      - name: Publish image to docker hub
        run: docker push ${{secrets.DOCKERHUB_USERNAME}}/les_bonnes_pieces-server:latest
  deploy: 
    needs: build
    runs-on: [aws-ec2]
    steps: 
      - name: Pull image from docker hub
        run: docker pull ${{secrets.DOCKERHUB_USERNAME}}/les_bonnes_pieces-server:latest
      - name: Delete old container
        run: docker rm -f les_bonnes_pieces-server || true
      - name: Run docker container
        run: docker run -d -p 8080:8080 -name les_bonnes_pieces-server ${{secrets.DOCKERHUB_USERNAME}}/les_bonnes_pieces-server:latest


        

      